<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huwei.dao.OrderLineMapper">
    <resultMap type="com.huwei.domain.Order" id="orderMap">
        <id column="olId" property="id"/>
        <result column="productName" property="productName"/>
        <result column="productPrice" property="productPrice"/>
        <result column="productQty" property="productQty"/>
        <association property="order" javaType="com.huwei.domain.Order">
            <id column="id" property="id"/>
            <result column="orderNo" property="orderNo"/>
            <result column="orderName" property="orderName"/>
        </association>
    </resultMap>

    <!--<select id="selectOrdersFetchPerson" resultMap="OrdersResultMap">
        select p.*,o.* from person p,orders o where o.pid=p.p_id and o.o_id=#{id}
    </select>-->

    <insert id="batchSave" parameterType="java.util.List">
        insert into OrderLine(productName,productPrice,productQty,order_Id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.productName},#{item.productPrice},#{item.productQty},#{item.order.id}
            )
        </foreach>

    </insert>


</mapper>